body {
	margin: 0px;
	overflow: hidden;
}

.info {
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.widget {
	/* Uncomment for background, I make a custom background in OBS for this because of transparency and shaders */
	/* background-color: rgb(44, 44, 44);
    border-radius: 4px;
    border-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 5px black; */

	padding: 8px;
	height: 250px;
	margin: 8px;
	position: relative;
	z-index: -2;
	display: flex;
	align-items: center;
}

#cover {
	height: 100%;
	transition: background-image 0.8s ease-in-out;
	aspect-ratio: 1;
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5) inset;
	background-position: center;
	background-repeat: no-repeat;
}

.image-box {
	border-radius: 4px;
	border-width: 1px;
	height: 100%;
	float: left;
}

.image-box img {
	position: relative;
	z-index: -1;
	border-radius: 4px;
}

p,
span {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	margin: 0px;
	padding-bottom: 2px;
}

#title,
#titlebox {
	font-size: xxx-large;
	font-weight: bold;
	text-align: center;
	display: inline;
}

#artist,
#artistbox {
	font-size: xx-large;
	text-align: center;
	display: inline;
}

#progressbar,
#progress {
	background-color: gray;
	height: 25px;
	width: 100%;
	margin-top: 5px;
	border-radius: 2px;
	transition: background-color 0.8s ease-in-out;
}

#progressbar {
	position: relative;
	margin-bottom: 4px;
}

#progress {
	background-color: rgb(223, 253, 179);
	width: 50%;
	position: absolute;
	top: -20%;
}

#timeline {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 20fr 1fr;
	align-items: center;
	place-items: center;
}

#length {
	margin-left: 5px;
	font-size: x-large;
}

#time-passed {
	margin-right: 5px;
	font-size: x-large;
}

.blue-neon-text,
#title {
	text-shadow: 0 0 7px cyan, 0 0 10px blue;
}
.red-neon-text,
#artist {
	text-shadow: 0 0 7px red, 0 0 10px red;
}
.gold-neon-text {
	text-shadow: 0 0 7px yellow, 0 0 10px orange;
}
